html, body {
    margin:0;
    padding:0;
    max-width: 100% !important;
    overflow-x: hidden !important;
    font-family: 'Ubuntu', sans-serif;
}

h2 {text-transform: capitalize;}

/***************************************************************************************************************/
/************************************************** HEADER *****************************************************/
/***************************************************************************************************************/


header {
    display: block;
    padding: 0;
    background: #FFF;
    box-shadow: 0 0 5px #000;
}


.nav-logo {max-width: 1024px;padding:15px 0;margin: 0 auto;position:relative;}
.logo {width:60%;display: inline;}
.logo > img {height:100px;}
.social {display:inline;right:15px;position:absolute;bottom:15px;}
.social > img {width:120px;}

.separar {border-top: 4px solid #999d9c;}

header #menu {
    max-width: 1024px;
    list-style:none;
    padding:0;
    margin:0 auto;
    text-align:center;
    font-size: 0;
}

header #menu li {
    font-size: 18px;
    display:inline;
    margin: 0;
    padding: 0;
}

header #menu li a {
    text-decoration:none;
    color: #000;
    font-weight:bold;
    padding: 20px;
    box-sizing: border-box;
    display:inline-block;
    width: 20%;
    margin: 0;
}

header #menu li a:hover, .selected {
    background-color:#FF8243;
}

.menu-button {
    display: none;
    position: absolute;
    width: 40px;
    top: 70px;
    height: 40px;
    right: 15px;
    margin: 10px 0 0 10px;
    box-sizing: border-box;
    background: url("../img/menu_icon.svg");
    background-size: contain;
    z-index: 1000;
}

/***************************************************************************************************************/
/************************************************** MAIN *****************************************************/
/***************************************************************************************************************/

#main {
    max-width: 1024px;
    margin: 50px auto;
    padding: 0;
}

.container {
    padding: 15px 50px 50px 50px;
    background: rgba(210,210,210,0.5);
}

.container > h1 {text-align:center;padding-bottom:20px;}

/***************************************************************************************************************/
/************************************************** FOOTER *****************************************************/
/***************************************************************************************************************/

footer {
    position:relative;
    bottom:0;
    width:100%;
    display: block;
    padding: 5px;
    background: #FFF;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    box-shadow: 0 0 5px #000;
}

#home footer {
    position: fixed;
}

/***************************************************************************************************************/
/************************************************* TERMINAL ****************************************************/
/***************************************************************************************************************/

.menu-flotante {
    position: fixed;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid gray;
    width: auto;
    margin: 50px 50px 0 100px;
}

#sub-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sub-menu > li > a {
    width: 150px;
    padding: 10px 20px;
    display: block;
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
    border-radius: 5px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#sub-menu > li > a:hover, #sub-menu > li > a:focus {
    color: #fff;
    background-color: #FF8243;
}

.explicacion {
    padding-left: 20px;
    padding-bottom: 20px;
}

.explicacion > div {
    text-align: center;
    margin: 25px 0;
}

#btn-container {
    display: none;
}

.btn-up > img {
    position: fixed;
    top: 50px;
    right: 50px;
    width:30px;
}

/***************************************************************************************************************/
/******************************************** PANTALLAS PEQUEÑAS ***********************************************/
/***************************************************************************************************************/
@media all and (max-width: 1400px) {

    #menu {display:none;}
    .logo {display:block;}
    .social {display:none !important;}

    header #menu li {
        display: block;
    }

    header #menu li a, header #menu {
        width: 100%;
    }

    .menu-flotante {
        position: relative;
        margin-bottom: 50px;
    }

    .menu-button {
        display: block;
    }

    .btn-up > img {
        top: 50px;
        right: 10px;
    }

    footer {
        font-size: 13px;
    }
}